


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calvin Fetzek's page</title>
</head>

<body>
  <h1>Calvin Fetzek</h1>
  <p><em>Student at <a href="https://www.keio.ac.jp/en/">Keio University</a></em></p>
  <p>Prospective B.A. Economics student interested in Finance, Bayesian statistics, and Game theory. Also an aspiring car mechanic / web developer.</p>
  <hr>
  <h3>Education</h3>
  <p>B.A. in Economics, Keio University</p>
  <hr>
  <h3>Certificates & Skills</h3>
  <table>
    <tbody>
      <tr>
        <td>Passed Fundamental Information Technology Engineer Examination</td>
      </tr>
      <tr>
        <td>Chinese Proficiency Test (HSK) 4th level</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h3>Work Experience</h3>
  <table>
  <tr>
    <td>2017</td>
    <td>Marketing Intern at Jones Lang Lasalle Japan</td>
  </tr>
  <tr>
    <td>2019</td>
    <td>Audit Intern at Delloite Touche Tohmatsu LLC</td>
  </tr>
  </table>
  <hr>
  <h3>Hobby</h3>
  <ul>
    <li>Watch sports</li>
    <li>Work on Cars</li>
    <li>Listen to the radio</li>
  </ul>
</body>

