<head>

    <script type="text/javascript">
    event.preventDefault();
    function appendMessage() {
      event.preventDefault();
        var position = "<strong>" + document.getElementById("position").value + "</strong>";
        var company = "<strong>" + document.getElementById("company").value +"</strong>";
        var skills1 = "<strong>" + document.getElementById("skills1").value +"</strong>";
        var skills2 =  "<strong>" + document.getElementById("skills2").value + "</strong>";
        var project =  "<strong>" + document.getElementById("project").value +"</strong>";
       var myCompany =  "<strong>" + document.getElementById("my_company").value +"</strong>";
       var coolProject =  "<strong>" + document.getElementById("cool_project").value +"</strong>";
       var phoneNumber =
  "8675309";
  var mySignature =
  "Some guy with sweet skills<br>" + phoneNumber + "<br>sweetsweetbacks@badassskills.com";
  
        var string = "";
        string += "I was searching on Indeed.com and ";
        string += "came upon your posting for a ";
        string += position;
        string += " at " ;
        string += company;
        string += ". I noticed you specifically mentioned ";
        string += skills1;
        string += " and I would like to find out whether my extensive experience with ";
        string += skills2;
        string += " could help you create your next amazing ";
        string += project;
        string += ". <BR><BR> I've accumulated quite a bit of experience in my time as a ";
        string += position + ", but specifically you might ";
        string += "be interested in my most recent posting at " + myCompany + "where I " + coolProject +". ";
        string += "When you have time, I’d like to speak with you more regarding this opportunity."
        string += "I know the video editing world moves very quickly, so to facilitate that fluidity here is my contact number " + phoneNumber + " Please let me know if you’d like to discuss this ";
        string += position;
        string += " position in person. I look forward to hearing how I can be involved in ";
        string += company;
        string += "'s future."
        string += " <br><br>";
              string += mySignature;
  
  
        var myDiv = document.getElementById("letter")
        myDiv.innerHTML = string;
        document.body.appendChild(string);
     }
     </script>
  </head>
  
  <body onload="appendMessage()">
  
  <form id = "variables">
  Position:..<input id = "position"  style='width:400px' value = "Video Editor"><br>
  Company:<input id = "company"  style='width:400px' value = "Weyland Yutani"><br>
  skills1:.....<input id = "skills1" style='width:400px' value = "Adobe After Effects"><br>
  skills2:.....<input id = "skills2" style='width:400px' value = "3DSMax"><br>
  Project:....<input id = "project" style='width:400px' value = "site"><br>
  My Company:<input id = "my_company" value="boomBangBoomProductions"><br>
  Cool Project:..<input id="cool_project" value="made an awesome video with lightsabers and explosions"><br>
  
  
  <button onclick="appendMessage()">Make</button>
  <div id="letter">
  </div>
  </form>
  </body>
   